<div class="text-center" style="margin-top: 50%;" *ngIf="!loaded">
    <div class="spinner-border text-muted" style="width: 5rem; height: 5rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>    
</div>

<div *ngIf="loaded">
    <section class="bg-primary container-fluid shadow-sm">
        <div class="row">
            <a routerLink="/match"><i class="bi fs-1 bi-chevron-left text-light"></i></a>
        </div>
        <div class="row text-light fs-2 align-items-center">
            <p class="col-5 text-center">{{match.getHomeTeam()}}</p>
            <p class="col small">{{match.getHomeScore()}}:{{match.getAwayScore()}}</p>
            <p class="col-5 text-center">{{match.getAwayTeam()}}</p>
        </div>
    </section>

    <div class="text-center my-5 text-dark">
        <p class="display-4">{{match.getMatchDate().toDateString()}}</p>
        <div>
            <p class="small mb-0">League:</p> 
            <p class="fs-3">{{match.getLeague()}}</p>
        </div>
    </div>

    <section *ngIf="showHomeTeam" id="home-team">
        <div class="shadow d-flex justify-content-between mx-4 align-items-center rounded p-1">
            <i class="bi bi-chevron-left fs-1" (click)="toggleTeams()"></i>
            <div class="text-center">
                <p class="small text-muted mt-0 mb-1">Home</p>
                <p class="m-0">{{match.getHomeTeam()}}</p>
            </div>
            <i class="bi bi-chevron-right fs-1" (click)="toggleTeams()"></i>
        </div>

        <div class="text-center my-4">
            <p class="fs-2 text-muted mb-1">
                <i class="bi bi-person-lines-fill"></i>
                <span class="ms-2">Manager</span>
            </p>
            <p class="fs-3">{{match.getHomeManager()}}</p>
        </div>

        <div>
            <h4 class="text-muted fs-1 text-center fw-light">Players</h4>

            <div class="mx-4" *ngFor="let player of match.getHomePlayers(); let i = index">
                <div class="d-flex fs-3">
                    <span class="small">{{i+1}}.</span>
                    <i class="bi bi-person-fill"></i>
                    
                    <a href="#" class="ms-2 fw-light text-decoration-none"> {{player}}</a>
                    
                </div>
                <hr>
            </div>
        </div>
    </section>

    <section *ngIf="showAwayTeam" id="away-team">
        <div class="shadow d-flex justify-content-between mx-4 align-items-center rounded p-1">
            <i class="bi bi-chevron-left fs-1" (click)="toggleTeams()"></i>
            <div class="text-center">
                <p class="small text-muted mt-0 mb-1">Away</p>
                <p class="m-0">{{match.getAwayTeam()}}</p>
            </div>
            <i class="bi bi-chevron-right fs-1" (click)="toggleTeams()"></i>
        </div>

        <div class="text-center my-4">
            <p class="fs-2 text-muted mb-1">
                <i class="bi bi-person-lines-fill"></i>
                <span class="ms-2">Manager</span>
            </p>
            <p class="fs-3">{{match.getAwayManager()}}</p>
        </div>

        <div>
            <h4 class="text-muted fs-1 text-center fw-light">Players</h4>

            <div class="mx-4" *ngFor="let player of match.getAwayPlayers(); let i = index">
                <div class="d-flex fs-3">
                    <span class="small">{{i+1}}.</span>
                    <i class="bi bi-person-fill"></i>
                    
                    <a href="#" class="ms-2 fw-light text-decoration-none"> {{player}}</a>
                    
                </div>
                <hr>
            </div>
        </div>
    </section>
</div>