<div>
    <section class="bg-primary container-fluid shadow-sm">
        <div class="row"><i class="bi fs-1 bi-chevron-left text-light"></i></div>
        <div class="row text-light fs-2 align-items-center">
            <p class="col-5 text-center">Mamelodi Sundowns</p>
            <p class="col small">4 : 1</p>
            <p class="col-5 text-center">Orlando Pirates</p>
        </div>
    </section>

    <div class="text-center my-5 text-dark">
        <p class="display-4">Sat 8 June 2022</p>
        <div>
            <p class="small mb-0">league:</p>
            <p class="fs-3">PSL</p>
        </div>
    </div>

    <div class="shadow d-flex justify-content-between mx-4 align-items-center rounded p-1">
        <i class="bi bi-chevron-left fs-1"></i>
        <div class="text-center">
            <p class="small text-muted mt-0 mb-1">Home</p>
            <p class="m-0">Mamelodi Sundowns</p>
        </div>
        <i class="bi bi-chevron-right fs-1"></i>
    </div>

    <div class="text-center my-4">
        <p class="fs-2 text-muted mb-1">
            <i class="bi bi-person-lines-fill"></i>
            <span class="ms-2">Manager</span>
        </p>
        <p class="fs-2">Lehlohonolo Seema</p>
    </div>

    <section class="">
        <h4 class="text-muted fs-1 text-center fw-light">Players</h4>

        <div class="mx-4" *ngFor="let player of players">
            <div class="d-flex fs-3">
                <i class="bi bi-person-fill"></i>
                <a href="#" class="ms-2 fw-light text-decoration-none">{{player}}</a>
            </div>
            <hr>
        </div>
    </section>
    <app-tab-menu></app-tab-menu>
</div>